/* This file is for your main application css. */

@import "bootstrap";


body{
background:grey;
}

.block{
background: maroon;
text-align: center;
height: 100px;
line-height: 35px;
width:100px;
font-size: 25px;
margin: 15px;
float: right;
font-weight: bold;
padding-top: 28px;}

.succ{background: green;}

.click{background: pink;}