@import "bootstrap";

.Card{
	background: maroon;
	text-align: center;
	height: 100px;
	line-height: 35px;
	width:100px;
	font-size: 25px;
	margin: 15px;
	float: right;
	font-weight: bold;
	padding-top: 28px;
}

.board{
	height: 500px;
	width: 600px;
}

.cardTurned{
	background: pink;
}

.cardSelected{
	background: green;
}


body{
	background: grey;
}

.alert{
	padding: 25px;
	color: green;
}

.button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 0 rgba(0,0,0,0.19);
	background-color: #aaa;
	border-radius: 12px;}
